body{background:  #e0d4c0 no-repeat center center ;overflow:scroll;font-family:sans-serif;
}
#preloader{
    width:0;
    height:0;
    background: url('b.jpg') no-repeat -9999px -9999px;
}
#dashed{
    background: url('arrow.png') no-repeat bottom right;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-3.55em;
    margin-left:-4.75em;
    border:4px dashed #76664D;
    border-radius:20px;
    padding:0;
    font-weight:400;
    color:#76664D;
    font-size:2em;
    line-height:1em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#dashed p{
    width:6.6em;
    border:4px solid #76664D;
    border-radius:20px;
    margin:-4px 2em 1.5em -4px;
    padding: 1.5em .5em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.block{
    position:absolute;
    top:100;
    left:100;
    margin:0;padding:0;
    background:  url('b.jpg') no-repeat center center fixed #9df;
    background-size: cover;
    width:400px;
    height:400px;
    text-align:center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor:-webkit-grab;
    cursor:-moz-grab;
    color:#fff;
    border-radius:10px;
    box-shadow:0px 0px 8px #000;
    -webkit-transition:.5s box-shadow; -moz-transition: .5s box-shadow;
} 

.block *{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.block:active{
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
    box-shadow:0px 0px 15px #000;
    -webkit-transition:.5s box-shadow;
    -moz-transition: .5s box-shadow;
    }
.block div{position:absolute;}
.block a , .block a.hidden, .block:hover a.hidden{
    display:block;
    -webkit-transition:.5s background, .5s color;
    -moz-transition:.5s background, .5s color;
    font-size:2em;
    line-height:.5em;
    color:rgba(87, 6, 9, 0);
    background: rgba(255,53,53,0);
    cursor:pointer;
    text-decoration:none;
    height:20px;
    width:20px;
    position:absolute;
    top:-20px;
    left:-20px;
    padding:10px;
    border-radius:20px;
    z-index:2000;
}
.block:hover a:hover{
    -webkit-transition:.5s background, .5s color;
    -moz-transition:.5s background, .5s color;
}
.block:hover a{
    -webkit-transition:.5s background, .5s color;
    -moz-transition:.5s background, .5s color;
    color:rgba(87, 6, 9, 1);
    background: rgba(255,53,53,1);
}
.block a:active{box-shadow: 0px 0px 5px #000 inset;}
.left,.right{width:20px;}
.bottom,.top{height:20px;}

.block div:not(.bottom):not(.top){top:0;bottom:0;cursor:col-resize;}
.block div:not(.right):not(.left){right:0;left:0;cursor:row-resize;}

.top.left,.top.right,.bottom.left,.bottom.right{}

.top.right{cursor:ne-resize}
.top.left{cursor:nw-resize}

.bottom.right{cursor:se-resize}
.bottom.left{cursor:sw-resize;}

.left{left:-10;}
.right{right:-10;}
.top{top:-10;}
.bottom{bottom:-10;}

body.left *, body.right *{cursor:col-resize !important;}
body.top *, body.bottom *{cursor:row-resize !important;}
body.grabbing *{cursor:-webkit-grabbing !important;cursor:-moz-grabbing !important;}
body.grab *{cursor:-webkit-grab !important;cursor:-moz-grab !important;}
body.top.right *{cursor:ne-resize !important;}
body.top.left *{cursor:nw-resize !important;}
body.bottom.right *{cursor:se-resize !important;}
body.bottom.left *{cursor:sw-resize !important;}
